<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>未来脑计划需要访问你的蓝牙，以方便你使用蓝牙音箱播放我们的音频</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>未来脑计划</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.6.4</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx6be7963d0ce9828e</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>deeplink</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dl070b5d46d7edf9bf</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>266</string>
    <key>CSResourcesFileMapped</key>
    <false/>
    <key>CodePushDeploymentKey</key>
    <string>deployment-key-here</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>weixin</string>
      <string>wechat</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>未来脑计划需要访问你的蓝牙，以方便你使用蓝牙音箱播放我们的音频</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>未来脑计划需要访问你的位置信息，以方便你记录宝宝日记时，添加记录地点</string>
    <key>NSCameraUsageDescription</key>
    <string>未来脑计划需要访问你的摄像头，以方便你拍照添加宝宝的记录</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>未来脑计划需要使用你当前的位置，以方便你记录你和宝宝一起活动的地点</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>未来脑计划需要访问你的相册，以方便你从相册添加宝宝的记录</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>